.main-footer {
  margin-bottom: 30px;
  color: darken($light-txt, 15%);
  text-transform: uppercase;
  .container {
    background: $dark-txt;
  }
  .copyright {
    line-height: 50px;
    padding-left: 15px;
  }
}