html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  background: $main-bg;
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.65);
}

.menu {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: inline-block;
  }
  a {
    display: block;
    text-decoration: none;
  }
}

section {
  padding: 1.5rem;
}

a {
  color: $links;
  &:hover {
    color: lighten($links, 7%);
  }
}

.example-full-img {
  cursor: pointer;
  z-index: 9999;
  text-align: center;
  position: absolute;
  width: 100%;
  padding-top: 10%;
  background: rgba(37, 37, 37, 0.5);
  img {
    width: 80%;
  }
}

.example-description {
  font-size: 18px;
  color: $light-txt;
  &_name {
    font-size: 20px;
    font-weight: bold;
  }
  &_txt {
    margin-bottom: 2rem;
  }
  a {
    color: $links;
  }
}

.example-preview {
  position: relative;
  width: 100%;
  display: block;
  border: none;
  max-height: 400px;
  text-align: center;
  overflow: hidden;
  background: transparent;
  &:active,
  &:focus {
    outline: none;
  }
  img {
    max-width: 100%;
  }
}