.main-header {
  padding-top: 30px;
  margin-bottom: 15px;
  .container {
    background: $dark-txt;
    padding: 0;
  }
}

.main-menu {
  text-align: center;
  font-size: 0;
  .navbar-collapse {
    padding: 0;
  }
  .menu-btn {
    display: block;
    float: none;
    margin: 10px auto;
    color: $light-txt;
    background: $main-bg;
    text-transform: uppercase;
    font-size: 1.6rem;
  }
  .menu-btn:hover {
    background: lighten($main-bg, 4%);
  }
  ul {
    display: table;
    width: 100%;
  }
  a {
    color: $light-txt;
    font-size: 1.8rem;
    line-height: 60px;
    &:hover {
      color: $dark-txt;
      background: #dbf2f8;
      transition: color, background .7s;
      -moz-transition: color, background .7s;
      -webkit-transition: color, background .7s;
      -o-transition: color, background .7s;
    }
    &.active {
      position: relative;
    }
  }
  li {
    margin: 0;
    display: table-cell;
    &:last-child {
      border: none;
    }
  }
}