.my-projects .project {
  display: block;
  float: left;
  margin-bottom: 20px;
  color: lighten($links, 2%);
  text-decoration: none;
  text-align: center;
  box-shadow: 0 0 15px lighten($links, 3%);
  border-radius: 5px;
  &-description {
    text-transform: uppercase;
    font-size: 1.6rem;
  }
  &-image {
    width: 100%;
    position: relative;
    display: block;
    height: 300px;
    overflow: hidden;
    margin-bottom: 3px;
  }
  &:hover {
    -webkit-transform: scale(0.97);
    -moz-transform: scale(0.97);
    -ms-transform: scale(0.97);
    -o-transform: scale(0.97);
    transform: scale(0.97);
    -webkit-transition: transform, .15s;
    -moz-transition: transform, .15s;
    -ms-transition: transform, .15s;
    -o-transition: transform, .15s;
    transition: transform, .15s;
    color: lighten($links, 5%);
    box-shadow: 0 0 10px lighten($links, 5%);
    background: lighten($dark-txt, 10%);

  }
  img {
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
  &:nth-child(4n) {
    margin-right: 0;
  }
}

.btn.portfolio_more-btn,
.btn.portfolio_less-btn {
  background: $main-bg;
  color: #fff;
  &:hover,
  &:focus {
    background: lighten($main-bg, 8%);
    outline: none;
  }
}
