$main-bg: #58548b; /* #469 */
$light-txt: #f1f1f1;
$dark-txt: #333333;
$links: #59ff59; /* #48F */

$main-font: 'robotoregular', sans-serif;
$bold-font: 'robotobold', sans-serif;
$light-font: 'robotolight', sans-serif;

