/*General*/

body {
  font-family: 'Open Sans', sans-serif;
  color: #5c5c5c;
  background: url(../images/main-bg.png) repeat;
}

.wrapper {
  width: 1050px;
  margin: 49px auto;
  background: #fff;
  border: 1px solid #dddddd;
}

.clearfix:after {
  display: block;
  content: " ";
  height: 0;
  clear: both;
  visibility: hidden;
}

.container {
  width: 950px;
  margin: 0 auto;
}

/*Main*/

.main-header {
  margin-bottom: 30px;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu li {
  display: inline-block;
}

.menu a {
  display: block;
  text-decoration: none;
}

.header-nav-row {
  background: #393939;
}

.main-menu {
  float: left;
}

.main-menu li {
  margin-right: -4px;
  border-right: 1px solid #494848;
}

.main-menu a {
  font-size: 13px;
  line-height: 52px;
  color: #d0d0d0;
  padding: 0 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.main-menu a:hover {
  background: #494848;
  transition: background .6s;
}

.header-social-icons {
  float: right;
  margin: 20px 20px 0 0;
}

.header-social-icons .header-social {
  display: block;
  float: left;
  margin-right: 14px;
  width: 10px;
  height: 12px;
  background: url(../images/header-social-sprite.png) no-repeat;
}

.header-social-icons .social-rss {
  background-position: 0px 0px;
}

.header-social-icons .social-fb {
  background-position: -21px 0px;
}

.header-social-icons .social-tw {
  background-position: -45px 0px;
  margin-right: 0;
}

.header-social-icons .header-social:hover {
  transform: scale(1.3);
}

/*Content*/

.main-content {
  margin-bottom: 50px;
}

.main-slider {
  position: relative;
  background: url(../images/main-slider-bg.png) no-repeat center -33px;
  cursor: pointer;
}

.main-slider p {
  margin: 0 auto;
  text-align: center;
}

.main-slider .slider-heading {
  font-size: 35px;
  line-height: 65px;
  font-weight: bold;
}

.main-slider .slider-sub-heading {
  font-size: 25px;
  line-height: 38px;
  font-weight: 300;
  margin-bottom: 452px;
}

.main-slider .slider-btn {
  display: block;
  position: absolute;
  width: 35px;
  height: 35px;
  background: url(../images/slider-btns.png) no-repeat;
}

.main-slider .slider-btn-prev {
  background-position: 0px 0px;
  top: 50%;
  margin-top: 17px;
  left: 0px;
}

.main-slider .slider-btn-next{
  background-position: -45px 0px;
  top: 50%;
  margin-top: 17px;
  right: 0px;
}

.main-slider .slider-btn-prev:hover {
  background-position: 0px -45px;
}

.main-slider .slider-btn-next:hover {
  background-position: -45px -45px;
}

.slider-nav {
  margin: 0 auto;
  width: 59px;
  margin-bottom: 50px;
}

.slider-nav a {
  display: block;
  width: 11px;
  height: 11px;
  float: left;
  margin-right: 5px;
  background: url(../images/slider-nav-sprite.png) no-repeat;
}

.slider-nav a:hover {
  background-position: -19px 0px;
}

.slider-nav a:last-child {
  margin-right: 0;
}

.slider-description-heading {
  font-weight: bold;
  font-size: 25px;
  line-height: 65px;
  text-align: center;
}

.slider-description {
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 35px;
}

/*Service*/

.service-section {
  margin-bottom: 30px;
  background: url(../images/service-line.png) no-repeat center bottom;
  padding-bottom: 30px;
}

.service-section .main-nav-links {
  float: left;
  box-sizing: border-box;
  width: 22.5%;
  margin-right: 3.33%;
  display: block;
  color: #5c5c5c;
  vertical-align: bottom;
  text-decoration: none;
  font-size: 16px;
  line-height: 65px;
  font-weight: bold;
  text-align: center;
  padding-top: 94px;
  background: url(../images/main-nav-sprite.png) no-repeat;
}

.service-section .main-nav-link-1 {
  background-position: -128px 2px;
}
.service-section .main-nav-link-2 {
  background-position: -152px -161px;
}
.service-section .main-nav-link-3 {
  background-position: -178px -326px;
}
.service-section .main-nav-link-4 {
  background-position: -203px -481px;
  margin-right: 0;
}

.service-section .main-nav-link-1 span {
  margin-left: 70px
}
.service-section .main-nav-link-2 span {
  margin-left: 15px
}
.service-section .main-nav-link-3 span {
  margin-left: -17px
}
.service-section .main-nav-link-4 span {
  margin-left: -74px
}

.service-section .main-nav-link-1:hover {
  background-position: 92px 2px;
  color: #71cec2;
}
.service-section .main-nav-link-2:hover {
  background-position: 68px -161px;
  color: #71cec2;
}
.service-section .main-nav-link-3:hover {
  background-position: 42px -326px;
  color: #71cec2;
}
.service-section .main-nav-link-4:hover {
  background-position: 17px -482px;
  color: #71cec2;
}

/*Works*/

.works-block .work-main-heading {
  text-transform: uppercase;
  line-height: 65px;
}

.works-heading {
  font-weight: bold;
  font-size: 16px;
  line-height: 35px;
}

.our-works {
  float: left;
  width: 31.79%;
  margin-right: 2.31%;
  box-sizing: border-box;
}

.our-works p {
  margin: 0;
  font-size: 14px;
  line-height: 28px;
}

.our-works:last-child {
  margin-right: 0;
}

.our-works .description-sub-heading {
  color: #71cec2;
  font-size: 13px;
  margin-bottom: 15px;
}

/*Footer*/

.main-footer,
.main-footer a {
  font-size: 14px;
  line-height: 24px;
  color: #d2d2d2;
  background: #393939;
}

.main-footer .footer-information {
  padding: 60px 0;
}

.main-footer .footer-cols {
  box-sizing: border-box;
  float: left;
  width: 28.94%;
  margin-right: 5.79%;
}

.main-footer .footer-cols:last-child {
  margin-right: 0;
}

.main-footer .footer-headings {
  color: #efefef;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
}

.main-footer span {
  font-size: 12px;
  line-height: 25px;
  color: #959595;
}

.main-footer p {
  margin: 17px 0;
}

.main-footer a {
  display: block;
  text-decoration: none;
  padding-left: 24px;
  background: url(../images/footer-sprite.png) no-repeat;
}

.main-footer .footer-adress {
  background-position: left 5px;
}

.main-footer .footer-number {
  background-position: left -44px;
}

.main-footer .footer-email {
  background-position: left -66px;
}

.main-footer .copyright {
  line-height: 84px;
  background: #333333;
}

