@font-face {
  font-family: 'BigJohn';
  src: url("../fonts/big_john-webfont.eot");
  src: url("../fonts/big_john-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/big_john-webfont.woff") format("woff"), url("../fonts/big_john-webfont.ttf") format("truetype"), url("../fonts/big_john-webfont.svg#big_johnregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SlimJoe';
  src: url("../fonts/slim_joe-webfont.eot");
  src: url("../fonts/slim_joe-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/slim_joe-webfont.woff") format("woff"), url("../fonts/slim_joe-webfont.ttf") format("truetype"), url("../fonts/slim_joe-webfont.svg#slim_joeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AmbleBold';
  src: url("../fonts/amble-bold-webfont.eot");
  src: url("../fonts/amble-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/amble-bold-webfont.woff") format("woff"), url("../fonts/amble-bold-webfont.ttf") format("truetype"), url("../fonts/amble-bold-webfont.svg#amblebold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AmbleLight';
  src: url("../fonts/amble-light-webfont.eot");
  src: url("../fonts/amble-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/amble-light-webfont.woff") format("woff"), url("../fonts/amble-light-webfont.ttf") format("truetype"), url("../fonts/amble-light-webfont.svg#amblelight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AmbleRegular';
  src: url("../fonts/amble-regular-webfont.eot");
  src: url("../fonts/amble-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/amble-regular-webfont.woff") format("woff"), url("../fonts/amble-regular-webfont.ttf") format("truetype"), url("../fonts/amble-regular-webfont.svg#ambleregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 3, ../sass/_general.scss */
body {
  color: #222;
}

/* line 6, ../sass/_general.scss */
button:active,
button:focus {
  outline: none;
}

/* line 10, ../sass/_general.scss */
.container {
  padding: 0 !important;
}

/* line 13, ../sass/_general.scss */
nav {
  font-size: 0;
}
/* line 15, ../sass/_general.scss */
nav ul {
  margin: 0;
  display: table;
}
/* line 19, ../sass/_general.scss */
nav li {
  display: inline-block;
}
/* line 22, ../sass/_general.scss */
nav a {
  display: block;
}

/* line 2, ../sass/_header.scss */
header {
  position: relative;
  padding-bottom: 3%;
  background: url("../img/header-bg-1.png") center top no-repeat, url("../img/header-bg-2.png") center top no-repeat, url("../img/header-bg-3.png") center top no-repeat;
  background-size: cover;
}
/* line 9, ../sass/_header.scss */
header .container {
  text-align: center;
}
/* line 12, ../sass/_header.scss */
header .main-menu {
  margin-bottom: 240px;
}
/* line 14, ../sass/_header.scss */
header .main-menu_btn {
  color: #fff;
  font-size: 24px;
  position: absolute;
  top: 60px;
  left: 50px;
  z-index: 1;
  cursor: pointer;
}
/* line 22, ../sass/_header.scss */
header .main-menu_btn:active i {
  transform: scale(0.9);
}
/* line 25, ../sass/_header.scss */
header .main-menu_btn[data-toggle="active"] {
  color: #d9a884;
}
/* line 29, ../sass/_header.scss */
header .main-menu_nav {
  position: relative;
  left: 80px;
  top: 66px;
  transition: opacity, left, .3s;
  z-index: 0;
}
/* line 36, ../sass/_header.scss */
header .main-menu .nav-hidden {
  opacity: 0;
  left: 70px;
  transition: opacity, left, .7s;
}
/* line 41, ../sass/_header.scss */
header .main-menu li {
  font-size: 14px;
  margin-right: 5px;
}
/* line 44, ../sass/_header.scss */
header .main-menu li a {
  padding: 0 10px;
  color: #e28843;
  background: #fff;
  border-radius: 3px;
}
/* line 50, ../sass/_header.scss */
header .main-menu li a:hover,
header .main-menu li a:focus {
  text-decoration: none;
  transform: scale(0.93);
  transition: transform, .2s;
}
/* line 58, ../sass/_header.scss */
header .header-description {
  text-align: center;
  color: #fffefe;
  font-size: 22px;
  font-family: 'AmbleRegular', sans-serif;
  margin: 0 auto 30%;
  width: 50%;
}
/* line 66, ../sass/_header.scss */
header h1 {
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 45px;
  padding-bottom: 50px;
  font-size: 48px;
  text-align: center;
  font-family: 'BigJohn', sans-serif;
  position: relative;
  background: url("../img/icons/heading-line-light.png") center bottom no-repeat;
}

/* line 4, ../sass/_sections.scss */
section .section-btn {
  font-family: "AmbleBold", sans-serif;
  background: transparent;
  text-align: center;
  border: 3px solid;
  transition: padding, .2s;
}
/* line 10, ../sass/_sections.scss */
section .section-btn:hover {
  transition: padding, width, .3s;
  background: rgba(34, 34, 34, 0.2);
}

/* line 17, ../sass/_sections.scss */
.light-section {
  padding: 120px 0;
  background: #fff;
}
/* line 20, ../sass/_sections.scss */
.light-section.gray-section {
  background: #f4f4f4;
}
/* line 22, ../sass/_sections.scss */
.light-section.gray-section ul {
  display: block;
}
/* line 25, ../sass/_sections.scss */
.light-section.gray-section li {
  padding: 0 20px;
  width: 20%;
  margin: 0;
  font-size: 36px;
}
/* line 31, ../sass/_sections.scss */
.light-section.gray-section a {
  width: 100%;
  height: 50px;
  background: url("../img/clients.png") no-repeat;
}
/* line 35, ../sass/_sections.scss */
.light-section.gray-section a.ggl {
  background-position: 0px 0px;
}
/* line 38, ../sass/_sections.scss */
.light-section.gray-section a.sams {
  background-position: -240px 0px;
}
/* line 41, ../sass/_sections.scss */
.light-section.gray-section a.flick {
  background-position: -475px 0px;
}
/* line 44, ../sass/_sections.scss */
.light-section.gray-section a.frsq {
  background-position: -718px 0px;
}
/* line 47, ../sass/_sections.scss */
.light-section.gray-section a.pint {
  background-position: -988px 0px;
}
/* line 52, ../sass/_sections.scss */
.light-section h2 {
  font-size: 30px;
  font-family: "BigJohn", sans-serif;
  position: relative;
  margin: 0 0 70px;
  text-align: center;
  color: #222;
  text-transform: uppercase;
  padding-bottom: 70px;
  background: url("../img/icons/heading-line-dark.png") center bottom no-repeat;
}
/* line 63, ../sass/_sections.scss */
.light-section nav {
  margin: 0 0 85px;
}
/* line 65, ../sass/_sections.scss */
.light-section nav ul {
  margin: 0 auto;
}
/* line 68, ../sass/_sections.scss */
.light-section nav li {
  margin-right: 30px;
}
/* line 70, ../sass/_sections.scss */
.light-section nav li:last-child {
  margin-right: 0;
}
/* line 74, ../sass/_sections.scss */
.light-section nav button {
  background: transparent;
  border: none;
  font-size: 18px;
  font-family: "SlimJoe", sans-serif;
  font-weight: bold;
  padding: 0 15px;
  color: #222;
  text-transform: uppercase;
}
/* line 84, ../sass/_sections.scss */
.light-section nav button:hover,
.light-section nav button:focus,
.light-section nav button.active-button {
  outline: none;
  text-decoration: none;
  font-family: "BigJohn", sans-serif;
}
/* line 92, ../sass/_sections.scss */
.light-section .section-description {
  font-size: 22px;
  text-align: center;
  color: #222;
  font-family: "AmbleLight", sans-serif;
  margin: 0 auto;
  width: 55%;
}
/* line 100, ../sass/_sections.scss */
.light-section.contact-section {
  padding-bottom: 0;
}
/* line 103, ../sass/_sections.scss */
.light-section.advantage-section .section-description, .light-section.contact-section .section-description {
  margin-bottom: 100px;
}
/* line 107, ../sass/_sections.scss */
.light-section_slider {
  text-align: center;
}
/* line 109, ../sass/_sections.scss */
.light-section_slider .slider-advantages {
  font-family: "AmbleRegular";
}
/* line 111, ../sass/_sections.scss */
.light-section_slider .slider-advantages img {
  margin-bottom: 40px;
}
/* line 114, ../sass/_sections.scss */
.light-section_slider .slider-advantages_title {
  font-size: 24px;
  margin-bottom: 35px;
}
/* line 118, ../sass/_sections.scss */
.light-section_slider .slider-advantages_description {
  font-size: 16px;
  width: 80%;
  margin: 0 auto;
}
/* line 124, ../sass/_sections.scss */
.light-section_slider ol.carousel-indicators.slider-indicators {
  bottom: -20%;
  margin: 0;
  left: 0;
  width: 100%;
}
/* line 129, ../sass/_sections.scss */
.light-section_slider ol.carousel-indicators.slider-indicators li {
  background: #d5d5d5;
  width: 12px;
  height: 12px;
}
/* line 133, ../sass/_sections.scss */
.light-section_slider ol.carousel-indicators.slider-indicators li.active {
  background: #d87843;
}
/* line 139, ../sass/_sections.scss */
.light-section .contact-info {
  background: linear-gradient(to left, #e4e4e4 70%, #f2f2f2 30%);
  padding: 120px 0;
}
/* line 143, ../sass/_sections.scss */
.light-section .contact-info .our-location_title {
  font-size: 24px;
  font-family: "BigJohn", sans-serif;
  margin-bottom: 40px;
}
/* line 148, ../sass/_sections.scss */
.light-section .contact-info .our-location_description {
  font-size: 22px;
  font-family: "AmbleLight", sans-serif;
  font-style: italic;
  margin-bottom: 40px;
}
/* line 155, ../sass/_sections.scss */
.light-section .contact-info nav,
.light-section .contact-info ul {
  margin: 0;
}
/* line 159, ../sass/_sections.scss */
.light-section .contact-info li {
  margin-right: 25px;
}
/* line 162, ../sass/_sections.scss */
.light-section .contact-info li a {
  font-size: 14px;
  width: 25px;
  height: 25px;
  background: url("../img/social-sprite.png") no-repeat;
}
/* line 168, ../sass/_sections.scss */
.light-section .contact-info li a.tw {
  background-position: 0px 2px;
}
/* line 171, ../sass/_sections.scss */
.light-section .contact-info li a.fb {
  background-position: 0px -30px;
}
/* line 174, ../sass/_sections.scss */
.light-section .contact-info li a.ln {
  background-position: 0px -64px;
}
/* line 177, ../sass/_sections.scss */
.light-section .contact-info li a.vm {
  background-position: 0px -95px;
}
/* line 180, ../sass/_sections.scss */
.light-section .contact-info li a.be {
  background-position: 0px -123px;
}
/* line 185, ../sass/_sections.scss */
.light-section .contact-form_input {
  position: relative;
  margin-bottom: 110px;
}
/* line 188, ../sass/_sections.scss */
.light-section .contact-form_input:last-child {
  margin-bottom: 0;
}
/* line 191, ../sass/_sections.scss */
.light-section .contact-form_input label,
.light-section .contact-form_input input[type="text"] {
  font-size: 18px;
  font-style: italic;
  color: #676767;
  font-family: "AmbleLight", sans-serif;
}
/* line 198, ../sass/_sections.scss */
.light-section .contact-form_input label {
  position: absolute;
  left: 30px;
  top: -10px;
}
/* line 203, ../sass/_sections.scss */
.light-section .contact-form_input .form-label_hidden {
  opacity: 0;
  transition: opacity, .2s;
}
/* line 208, ../sass/_sections.scss */
.light-section .contact-form input[type="text"] {
  padding-left: 2%;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #676767;
}
/* line 214, ../sass/_sections.scss */
.light-section .contact-form input[type="text"]:focus {
  outline: none;
}
/* line 218, ../sass/_sections.scss */
.light-section .contact-form_btn {
  margin: 0 auto;
  display: block;
  width: 100%;
  line-height: 60px;
  font-size: 24px;
  font-family: "AmbleBold", sans-serif;
}
/* line 225, ../sass/_sections.scss */
.light-section .contact-form_btn:hover {
  width: 90%;
}
/* line 230, ../sass/_sections.scss */
.light-section.portfolio-section nav ul {
  display: table;
}
/* line 232, ../sass/_sections.scss */
.light-section.portfolio-section nav ul li {
  margin: 0;
  display: table-cell;
}

/* line 239, ../sass/_sections.scss */
.dark-section {
  text-align: center;
  padding: 200px 0;
}
/* line 242, ../sass/_sections.scss */
.dark-section .section-btn {
  position: relative;
  z-index: 10;
  font-size: 30px;
  color: #fff;
  line-height: 90px;
  padding: 0 80px;
  border-color: #fff;
}
/* line 250, ../sass/_sections.scss */
.dark-section .section-btn:hover {
  background: rgba(255, 255, 255, 0.15);
  padding: 0 70px;
}
/* line 255, ../sass/_sections.scss */
.dark-section.video-section {
  padding: 0;
}
/* line 257, ../sass/_sections.scss */
.dark-section.video-section iframe {
  width: 100%;
}
/* line 261, ../sass/_sections.scss */
.dark-section.section-2, .dark-section.section-4, .dark-section.section-9 {
  position: relative;
}
/* line 265, ../sass/_sections.scss */
.dark-section.section-2:after, .dark-section.section-4:after, .dark-section.section-9:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.6);
  z-index: 2;
}
/* line 277, ../sass/_sections.scss */
.dark-section.section-2 {
  background: url("../img/section-bg-2.png") center center no-repeat;
}
/* line 280, ../sass/_sections.scss */
.dark-section.section-4 {
  background: url("../img/section-bg-4.png") center center no-repeat;
}
/* line 283, ../sass/_sections.scss */
.dark-section.section-9 {
  background: url("../img/section-bg-9.png") center center no-repeat;
}

/* line 4, ../sass/_portfolio.scss */
.portfolio_row {
  margin: 0 0 55px;
}
/* line 7, ../sass/_portfolio.scss */
.portfolio_preview {
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
  opacity: 1;
  transition: opacity, .2s;
}
/* line 9, ../sass/_portfolio.scss */
.portfolio_preview img {
  width: 100%;
}
/* line 16, ../sass/_portfolio.scss */
.portfolio_preview-hover {
  padding: 40% 0 0;
  position: absolute;
  top: 0;
  width: 92.5%;
  border: 8px solid #000;
  height: 100%;
  background: rgba(34, 34, 34, 0.7);
  opacity: 1;
  transition: opacity, .2s;
}
/* line 26, ../sass/_portfolio.scss */
.portfolio_preview-hover .title,
.portfolio_preview-hover .description {
  margin: 0 auto;
  text-align: center;
  color: #fff;
}
/* line 32, ../sass/_portfolio.scss */
.portfolio_preview-hover .title {
  font-size: 18px;
  font-family: "BigJohn", sans-serif;
  margin-bottom: 25px;
}
/* line 37, ../sass/_portfolio.scss */
.portfolio_preview-hover .description {
  position: relative;
  padding: 0 0 30px;
  font-size: 24px;
  font-family: "AmbleRegular", sans-serif;
  background: url("../img/icons/heading-line-accent.png") center bottom no-repeat;
}
/* line 46, ../sass/_portfolio.scss */
.portfolio .preview-hidden {
  opacity: .4;
  transition: opacity, .5s;
}
/* line 50, ../sass/_portfolio.scss */
.portfolio .hover-hidden {
  opacity: 0;
  transition: opacity, .4s;
}
/* line 54, ../sass/_portfolio.scss */
.portfolio_btn {
  font-size: 24px;
  padding: 0 100px;
  line-height: 52px;
}
/* line 58, ../sass/_portfolio.scss */
.portfolio_btn:hover, .portfolio_btn:active {
  padding: 0 90px;
  background: rgba(34, 34, 34, 0.1);
}

/* line 4, ../sass/_about-us.scss */
section.about-us .section-description {
  margin-bottom: 70px;
}
/* line 7, ../sass/_about-us.scss */
section.about-us .team-worker {
  position: relative;
  cursor: pointer;
}
/* line 10, ../sass/_about-us.scss */
section.about-us .team-worker img {
  width: 100%;
}
/* line 14, ../sass/_about-us.scss */
section.about-us .co-worker_hover {
  opacity: 1;
  transition: opacity, .3s;
  position: absolute;
  top: 0;
  width: 91%;
  height: 100%;
  padding: 86% 0 0;
  background: url("../img/icons/about-us-icon.png") 98% 1.5% no-repeat, rgba(34, 34, 34, 0.5);
  border: 4px solid #000;
}
/* line 24, ../sass/_about-us.scss */
section.about-us .co-worker_hover .name,
section.about-us .co-worker_hover .position {
  color: #fff;
  text-align: center;
}
/* line 29, ../sass/_about-us.scss */
section.about-us .co-worker_hover .name {
  font-family: "BigJohn", sans-serif;
  font-size: 24px;
}
/* line 33, ../sass/_about-us.scss */
section.about-us .co-worker_hover .position {
  font-family: "AmbleBold", sans-serif;
  font-size: 18px;
}
/* line 38, ../sass/_about-us.scss */
section.about-us .co-worker_hidden {
  opacity: 0;
  transition: opacity, .3s;
}
/* line 42, ../sass/_about-us.scss */
section.about-us .team-apply {
  position: relative;
}
/* line 44, ../sass/_about-us.scss */
section.about-us .team-apply_description {
  position: absolute;
  border: 1px solid #000;
  top: 0;
  left: 4%;
  width: 92%;
  padding: 28% 0 0;
  height: 100%;
  text-align: center;
}
/* line 54, ../sass/_about-us.scss */
section.about-us .team-apply_title {
  position: relative;
  font-family: "BigJohn", sans-serif;
  font-size: 24px;
  margin: 0 auto 40px;
  padding-bottom: 40px;
  background: url("../img/icons/heading-line-dark.png") center bottom no-repeat;
}
/* line 62, ../sass/_about-us.scss */
section.about-us .team-apply_btn {
  display: inline-block;
  font-size: 24px;
  line-height: 54px;
  padding: 0 60px;
}
/* line 67, ../sass/_about-us.scss */
section.about-us .team-apply_btn:hover {
  padding: 0 55px;
  background: rgba(34, 34, 34, 0.3);
}

/* line 3, ../sass/_footer.scss */
footer {
  padding: 100px 0 90px;
  background: #222;
  font-size: 16px;
  font-family: "AmbleRegular", sans-serif;
  color: #e4e4e4;
  text-align: center;
}
/* line 10, ../sass/_footer.scss */
footer .footer-logo {
  margin-bottom: 65px;
}
/* line 13, ../sass/_footer.scss */
footer .footer-copyright a {
  text-decoration: none;
  color: #d87843;
}
/* line 16, ../sass/_footer.scss */
footer .footer-copyright a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1199px) {
  /* line 45, ../sass/_media.scss */
  section.light-section.gray-section li {
    width: 33.333333%;
    padding-right: 70px;
    margin-bottom: 10px;
  }
  /* line 49, ../sass/_media.scss */
  section.light-section.gray-section li:nth-child(4) {
    margin-left: 17%;
  }

  /* line 54, ../sass/_media.scss */
  section.about-us .co-worker_hover {
    width: 89%;
    padding-top: 75%;
  }
  /* line 59, ../sass/_media.scss */
  section.about-us .team-apply_description {
    padding-top: 20%;
  }
}
@media only screen and (max-width: 992px) {
  /* line 68, ../sass/_media.scss */
  section.light-section.gray-section li {
    padding-right: 46px;
  }

  /* line 71, ../sass/_media.scss */
  section.about-us {
    padding-bottom: 105px;
  }
  /* line 72, ../sass/_media.scss */
  section.about-us .co-worker_hover {
    width: 93%;
    padding-top: 85%;
  }
  /* line 77, ../sass/_media.scss */
  section.about-us .team-worker {
    margin-bottom: 15px;
  }

  /* line 81, ../sass/_media.scss */
  .light-section_slider ol.carousel-indicators.slider-indicators {
    bottom: -10%;
  }
}
@media only screen and (max-width: 991px) {
  /* line 88, ../sass/_media.scss */
  .light-section .contact-info {
    background: linear-gradient(to top, #e4e4e4 61%, #f2f2f2 49%);
    padding: 120px 0;
  }
  /* line 91, ../sass/_media.scss */
  .light-section .contact-info .our-location {
    margin-bottom: 60px;
    padding-left: 33%;
  }

  /* line 96, ../sass/_media.scss */
  .contact-form_btn.section-btn {
    width: 50%;
  }
  /* line 98, ../sass/_media.scss */
  .contact-form_btn.section-btn:hover {
    width: 40%;
  }
}
@media only screen and (max-width: 950px) {
  /* line 107, ../sass/_media.scss */
  header .main-menu_nav {
    width: 70%;
  }
  /* line 109, ../sass/_media.scss */
  header .main-menu_nav li {
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 900px) {
  /* line 119, ../sass/_media.scss */
  header .main-menu {
    margin-bottom: 180px;
  }
  /* line 121, ../sass/_media.scss */
  header .main-menu_btn {
    left: 49%;
  }
  /* line 124, ../sass/_media.scss */
  header .main-menu_nav {
    margin: 0 auto;
    left: 3%;
    top: 105px;
    transition: opacity .3s;
  }
  /* line 130, ../sass/_media.scss */
  header .main-menu .nav-hidden {
    left: 3%;
    transition: opacity .7s;
  }
  /* line 135, ../sass/_media.scss */
  header h1 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  /* line 139, ../sass/_media.scss */
  header .header-description {
    font-size: 18px;
    width: 66%;
  }
}
@media only screen and (max-width: 840px) {
  /* line 149, ../sass/_media.scss */
  header .main-menu_nav {
    width: 40%;
    margin-bottom: -35px;
  }
  /* line 152, ../sass/_media.scss */
  header .main-menu_nav a {
    font-size: 14px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 161, ../sass/_media.scss */
  .portfolio_preview-hover {
    width: 95%;
  }
  /* line 163, ../sass/_media.scss */
  .portfolio_preview-hover .title {
    font-size: 26px;
    margin-bottom: 40px;
  }
  /* line 167, ../sass/_media.scss */
  .portfolio_preview-hover .description {
    padding-bottom: 45px;
  }

  /* line 171, ../sass/_media.scss */
  .preview-hidden {
    display: none;
  }

  /* line 175, ../sass/_media.scss */
  section.about-us .co-worker_hover {
    width: 96%;
    padding-top: 100%;
  }
  /* line 178, ../sass/_media.scss */
  section.about-us .co-worker_hover .name {
    font-size: 35px;
    margin-bottom: 15px;
  }
  /* line 182, ../sass/_media.scss */
  section.about-us .co-worker_hover .position {
    font-size: 24px;
  }
  /* line 187, ../sass/_media.scss */
  section.about-us .team-apply_description {
    padding-top: 35%;
  }
  /* line 190, ../sass/_media.scss */
  section.about-us .team-apply_title {
    font-size: 40px;
    margin-bottom: 70px;
  }
  /* line 195, ../sass/_media.scss */
  section.about-us .team-apply_btn {
    font-size: 30px;
    padding: 0 80px;
    line-height: 70px;
  }
}
@media only screen and (max-width: 739px) {
  /* line 205, ../sass/_media.scss */
  section.light-section.gray-section li {
    width: 50%;
    margin-bottom: 20px;
    margin-left: 0 !important;
    padding-right: 117px;
  }
  /* line 210, ../sass/_media.scss */
  section.light-section.gray-section li:last-child {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 640px) {
  /* line 218, ../sass/_media.scss */
  section.light-section.gray-section li {
    padding: 0 203px;
    width: 100%;
  }
}
@media only screen and (max-width: 681px) {
  /* line 226, ../sass/_media.scss */
  .light-section nav a {
    font-size: 12px;
    font-family: "BigJohn", sans-serif;
  }
}
@media only screen and (max-width: 664px) {
  /* line 234, ../sass/_media.scss */
  .light-section nav button {
    font-size: 14px;
  }
}
@media only screen and (max-width: 600px) {
  /* line 242, ../sass/_media.scss */
  header h1 {
    font-size: 26px;
    padding-bottom: 25px;
  }

  /* line 247, ../sass/_media.scss */
  .light-section .section-description {
    font-size: 18px;
    width: 60%;
  }
}
@media only screen and (max-width: 500px) {
  /* line 255, ../sass/_media.scss */
  section.about-us .co-worker_hover {
    width: 95%;
    padding-top: 90%;
  }
  /* line 258, ../sass/_media.scss */
  section.about-us .co-worker_hover .name {
    font-size: 30px;
  }
  /* line 261, ../sass/_media.scss */
  section.about-us .co-worker_hover .position {
    font-size: 20px;
  }
}
@media only screen and (max-width: 444px) {
  /* line 270, ../sass/_media.scss */
  header .main-menu_nav {
    width: 48%;
  }

  /* line 274, ../sass/_media.scss */
  .dark-section .section-btn {
    font-size: 26px;
    line-height: 75px;
    padding: 0 40px;
  }
  /* line 278, ../sass/_media.scss */
  .dark-section .section-btn:hover {
    padding: 0 30px;
  }

  /* line 282, ../sass/_media.scss */
  section.light-section h2 {
    font-size: 26px;
  }

  /* line 285, ../sass/_media.scss */
  section.light-section .contact-info .our-location {
    padding-left: 20%;
  }

  /* line 288, ../sass/_media.scss */
  section.about-us .co-worker_hover {
    width: 93.7%;
  }
}
@media only screen and (max-width: 400px) {
  /* line 295, ../sass/_media.scss */
  section.about-us .co-worker_hover {
    width: 93%;
  }

  /* line 298, ../sass/_media.scss */
  section .portfolio .section-btn.portfolio_btn {
    font-size: 20px;
    padding: 0 40px;
  }
  /* line 301, ../sass/_media.scss */
  section .portfolio .section-btn.portfolio_btn:hover {
    padding: 0 35px;
  }
}
@media only screen and (max-width: 370px) {
  /* line 310, ../sass/_media.scss */
  header .main-menu_nav {
    width: 56%;
  }
}
