/*General*/

@-ms-viewport {
  width: device-width;
}

body {
  font-family: 'Titillium Web', sans-serif;
}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.container {
  margin: 0 auto;
  width: 1100px;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  float: left;
}

.menu a {
  display: block;
  text-decoration: none;
}

.page-btn {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  line-height: 66px;
  font-size: 18px;
  font-weight: 600;
  width: 293px;
  margin: 0 auto;
  border-radius: 3px;
}

.block-heading  {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.block-sub-heading {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.content {
  font-size: 18px;
  line-height: 26px;
}

/*Main-header*/

.main-header {
  background: #87509c;
  padding-bottom: 145px;
}

.main-header .header-first-row {
  margin-bottom: 145px;
}

.main-header .logo {
  float: left;
}

.main-menu {
  float: right;
  margin-right: 8px;
  padding-top: 60px;
}

.main-menu a {
  font-size: 16px;
  line-height: 32px;
  color: #fff;
  padding: 0 17px;
  text-transform: uppercase;
}

.main-menu a:hover,
.main-menu a.active {
  background: #643a79;
  border-radius: 3px;
}

.header-welcome {
  text-align: center;
}

.welcome-title {
  font-weight: bold;
  font-size: 42px;
  line-height: 48px;
  color:#fff; 
  margin-bottom: 54px;
}

.header-welcome .welcome-btn {  
  background: #eb7d4b;
  border-bottom: 4px solid #c86a40;
}

/*Services-block*/

.services-block {
  color: #fff;
  background: #17c2a4;
  padding: 120px 0 128px;
}

.services-block .services-heading:after {
  content: " ";
  display: block;
  height: 4px;
  width: 87px;
  margin: 22px auto 0;
  background: #14a58c;
}

.services-block .services-sub-heading {
  margin-bottom: 80px;
}

.services-block .service {
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  width: 260px;
  margin-right: 20px;
  text-align: center;
  padding-top: 186px;
  background: url(../images/services-sprite.png) no-repeat;
}

.services-block .service:last-child {
  margin-right: 0;
}

.services-block .service-1 {
  background-position: 0px 0px;
}

.services-block .service-2 {
  background-position: -285px 0px;
}

.services-block .service-3 {
  background-position: -560px 0px;
}

.services-block .service-4 {
  background-position: -845px 0px;
}

.services-block .service-heading {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 27px;
}

.services-block .service-text {
  margin: 0 auto;
  width: 80%;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

/*Team-block*/

.team-block {
  background: #e7f1f8;
  padding: 120px 0 125px;
  font-size: 16px;
  line-height: 24px;
  color: #3c4761;
}

.team-heading:after {
  content: " ";
  display: block;
  height: 4px;
  width: 87px;
  margin: 22px auto 0;
  background: #c8d9e5;
}

.team-sub-heading {
  margin-bottom: 78px;
}

.crewman {
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  width: 260px;
  margin-right: 20px;
  text-align: center;
}

.crewman:last-child {
  margin-right: 0;
}

.crewman-photo {
  border-radius: 50%;
  background: #878787;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.crewman-name {
  color: #27283d;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
}

.crewman-post {
  font-size: 16px;
  line-height: 18px;
  color: #30bae7;
  margin-bottom: 30px;
}

.crewman-description {
  font-weight: 300;
  width: 80%;
  margin: 0 auto 30px;
}

.team .crewman-social-links {
  margin: 0 auto;
}

.team .crewman-social {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  margin-right: 12px;
  width: 32px;
  height: 32px;
  background: url(../images/team-social-sprite.png) no-repeat;
}

.team .crewman-social:last-child {
  margin-right: 0;
}

.team .social-fb {
  background-position: 0px 0px;
}

.team .social-tw {
  background-position: -44px 0px;
}

.team .social-in {
  background-position: -87px 0px;
}

.team .social-em {
  background-position: -131px 0px;
}

/*Skills-block*/

.skills-block {
  color: #3c4761;
  padding: 120px 0 120px;
}

.skills-heading:after {
  content: " ";
  display: block;
  height: 4px;
  width: 87px;
  margin: 22px auto 0;
  background: #dfe8ed;
}

.skills-sub-heading {
  margin-bottom: 85px;
}

.skills .skill {
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  width: 260px;
  margin-right: 20px;
  text-align: center;
}

.skills .skill:last-child {
  margin-right: 0;
}

.skill .skill-image {
  margin: 0 auto 32px;
  width: 160px;
  height: 160px;
  background: url(../images/skills-sprite.png) no-repeat;
}

.skill-1 .skill-image {
  background-position: -50px 0px;
}

.skill-2 .skill-image {
  background-position: -330px 0px;
}

.skill-3 .skill-image {
  background-position: -609px 0px;
}

.skill-4 .skill-image {
  background-position: -890px 0px;
}

.skill-name {
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
}

/*Portfolio-block*/

.portfolio-block {
  background: #ffdd99;
  padding: 120px 0 110px; 
  color: #393939;
}

.portfolio-heading:after {
  content: " ";
  display: block;
  height: 4px;
  width: 87px;
  margin: 22px auto 0;
  background: #e5c37f;
}

.portfolio-sub-heading {
  margin-bottom: 43px
}

.portfolio-menu {
  margin: 0 auto 62px;
  text-align: center;
}

.portfolio-menu li {
  margin-right: 10px;
  float: none;
  display: inline-block;
}

.portfolio-menu li:last-child {
  margin-right: 0;
}

.portfolio-menu a {
  font-size: 18px;
  font-weight: bold;
  padding: 0 22px;
  background: #ebc985;
  border-radius: 3px;
  color: #393939;
  line-height: 38px;
  text-transform: uppercase;
}

.portfolio-menu a:hover {
  background: #fff;
}

.portfolio-block .works {
  margin-bottom: 24px;
}

.portfolio-block .work {
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  width: 540px;
  margin: 0 20px 60px 0;
  text-align: center;
}

.portfolio-block .work:nth-child(2n) {
  margin-right: 0;
}

.portfolio-block .work-image {
  margin-bottom: 25px;
}

.work .work-name {
  text-transform: uppercase;
  font-size: 18px;
}

.portfolio-btn {
  background: #17c2a4;
  border-bottom: 4px solid #14a58c;
}

/*Reviews-block*/

.reviews-block {
  padding: 120px 0 130px;
  background: #d74680;
  color: #fff;
}

.reviews-heading:after {
  content: " ";
  display: block;
  height: 4px;
  width: 87px;
  margin: 22px auto 0;
  background: #b73c6d;
}

.reviews-sub-heading {
  margin-bottom: 70px;
}

.reviews .review {
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  width: 540px;
}

.reviews .review:nth-child(1),
.reviews .review:nth-child(2) {
  margin: 0 20px 145px 0
}

.reviews .review:nth-child(2n) {
  margin-right: 0;
}

.reviews .review-photo {
  width: 96px;
  height: 96px;
  background: #787878;
  border-radius: 50%;
  float: left;
}

.reviews .review-text {
  margin: 5px 70px 0 0;
  float: right;
  width: 63%;
  font-size: 21px;
  line-height: 31px;
  font-style: italic;
}

.reviews .review-text p {
  margin: 0 0 30px;
}

.reviews .reviewer-name {
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
}

.review .reviewer-post {
  font-style: normal;
  color: #ffdd99;
  font-size: 18px;
}

/*Main-footer*/

.main-footer .footer-form {
  background: #3c5499;
  padding: 120px 0 115px;
  color: #fff;
}

.main-footer form {
  padding: 0 120px;
  margin-bottom: 60px;
}

.footer-heading:after {
  content: " ";
  display: block;
  height: 4px;
  width: 87px;
  margin: 22px auto 0;
  background: #273a71;
}

.footer-sub-heading {
  margin-bottom: 75px;
}

.footer-form input {
  border-radius: 3px;
  padding: 20px 0 20px 25px;
  color: #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  background: #273a71 url(../images/footer-input-star.png) no-repeat 105px 40%;
  outline: none;
  border: none;
}

.footer-form-data input {
  float: left;
  width: 416px;
  margin-right: 25px;
}

.footer-form-data {
  margin: 0 auto 27px;
  text-align: center;
}

.footer-form .footer-form-data input:last-child {
  float: right;
}

.footer-form input:last-child {
  margin-right: 0;
}

.footer-form textarea {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  padding: 20px 0 0 25px;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 3px;
  background: #273a71 url(../images/footer-input-star.png) no-repeat 127px 21px;
}

.footer-form input:focus,
.footer-form textarea:focus {
  background-image: none;
}

.footer-btn {
  background: #30bae7;
  border-bottom: 4px solid #299ec5;
}

.footer-nav {
  background: #344b8e;
  border-top: 1px solid #3c5499;
}

.footer-menu {
  padding-left: 80px;
  text-align: center;
}

.footer-menu li {
  float: none;
  display: inline-block;
}

.footer-menu a {
  color: #fff;
  font-size: 24px;
  line-height: 112px;
  font-weight: 600;
  padding: 0 55px 0 0;
}

.footer-menu a:hover {
  color: #30bae7;
  transition: color .7s;
  -moz-transition: color .7s;
  -webkit-transition: color .7s;
  -o-transition: color .7s;
}



